[submodule "libs/capstone"]
	path = libs/capstone
	url = https://github.com/libcapstone/libcapstone
[submodule "libs/elfutils"]
	path = libs/elfutils
	url = git://sourceware.org/git/elfutils.git
	branch = main
